<html>
	<head>
		<title>{{title}}</title>
		<link rel="stylesheet" href="/stylesheets/bootstrap.min.css"/>
	</head>
	<body>
		{{{body}}}
	</body>
	<script src="/javascripts/jquery.min.js"></script>
	<script src="/javascripts/bootstrap.min.js"></script>

	<script type="text/javascript">
		$(document).ready(function(){

			$('.alert').fadeOut(10000);
		})
	</script>
</html>
